body                {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.acerca-de{
   text-align: center;
   padding-right: 50px;
}
.acerca-imagen{
   object-fit: cover;
}
ol,
 ul  {
    list-style: none;
 }

 a{
    text-decoration: none;
 }

header          {
    display: flex;
    background-color: rgb(231, 196, 230);
    align-items: center;
    justify-content: space-between;
}
header a i{
    color: white;
    font: size 50px;;
    padding: 10px;
}
header nav ul{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
header nav ul li a  	{
    color: white;
}
 main   {
    display: block;
 }
 .seccion-1 {
    background-color: rgb(242, 235, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding: 80px;
 }
 .seccion-2 {
    width: 100%;
    }
 footer     {
    clear: both;
    background-color: rgb(240, 225, 238);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px; 
 }
 footer nav ul{
    display: flex;
    gap: 5em;
    justify-content: center;
    align-items: center
}
footer nav ul li 	{
    color: white;
    justify-content: space-between;
    align-items: center;
}
 body {
    background-color: white;
   }
.viajes{
   display: inline-block;
   justify-content:space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: stretch;
   align-items: center;
}
.Viajes_litle{
   padding: 4rem;
   color: rgb(214, 85, 85);
}
.viajes{
   max-width: 400PX;
}

.viajes div img{
   width: 100%;
   border-radius: 1.5rem;
   border-radius: 30px
}

.viajes div{
   padding: 20px 0;
}
.viajes div p{
   padding: 20px 0;
   align-items: center;
   align-content: stretch;
   flex-wrap: wrap;
}
#check {
    display: none;
}
.checkbtn {
    font-size: 25px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más
    pequeñas */
}
header{
    background-color: rgb(223, 182, 221);
}
.acerca-de{
    text-align: center;
}
.acerca-imagen{
    margin-bottom: 40px;
}
h2.fuente-acento{
    text-align: center;
}
.checkbtn{
    display: block;
}
#encabezado     ul   {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(94, 58, 92);
    text-align: center;
    top: 80px;
    left: 100%;
    transition: all 0.5s;
 }
#check:checked ~ ul {
    left: 0%;
    display: block;
}
 #encabezado nav ul li {
     display: block;
     line-height: 30px;
     margin: 50px 0;
 }
 #encabezado nav ul li a  	{
     font-size: 20px;
 } 
.seccion-1 {
     background-color: rgb(242, 235, 243);
     display: flex;
     justify-content: center;
     flex-wrap: wrap-reverse;
     text-align: center;
     padding: 40px;
  }
#check:checked ~ .checkbtn{
    color:pink ;
}
/* ------------- CSS General ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #5d6063;
    background-color: #eaedf0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
  }
  
  /* ------------- Encabezado Contacto ------------- */
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }
  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input [type="email"]{
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }
  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
  
  
  .form-row textarea {
      width: 250px;
    }
    .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color: #5995da;
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button:hover {
        background-color: #76aeed;
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      
      /* ------------- Para Pantallas de más de 700px ------------- */
      
      
      .form-row button {
          margin-left: 120px;
      }